[submodule "DotGameArt"]
	path = DotGameArt
	url = https://github.com/liyubin724/DotGameArt.git
[submodule "DotGameScripts"]
	path = DotGameScripts
	url = https://github.com/liyubin724/DotGameScripts.git
[submodule "DotGameTools"]
	path = DotGameTools
	url = https://github.com/liyubin724/DotGameTools.git
[submodule "DotGameClient"]
	path = DotGameClient
	url = https://github.com/liyubin724/DotGameClient.git
[submodule "ThirdPartProj/PBC"]
	path = ThirdPartProj/PBC
	url = https://github.com/cloudwu/pbc.git
[submodule "ThirdPartProj/xlua"]
	path = ThirdPartProj/xlua
	url = https://github.com/Tencent/xLua.git
[submodule "ThirdPartProj/rapidjson"]
	path = ThirdPartProj/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "ThirdPartProj/ReorderableList"]
	path = ThirdPartProj/ReorderableList
	url = https://github.com/rotorz/unity3d-reorderable-list
