[submodule "DotGameArt"]
	path = DotGameArt
	url = https://github.com/liyubin724/DotGameArt.git
[submodule "DotGameScripts"]
	path = DotGameScripts
	url = https://github.com/liyubin724/DotGameScripts.git
[submodule "DotGameTools"]
	path = DotGameTools
	url = https://github.com/liyubin724/DotGameTools.git
[submodule "DotGameClient"]
	path = DotGameClient
	url = https://github.com/liyubin724/DotGameClient.git
[submodule "DotGameDoc"]
	path = DotGameDoc
	url = https://github.com/liyubin724/DotGameDoc.git
[submodule "ThirdPartProj/xlua"]
	path = ThirdPartProj/xlua
	url = https://github.com/Tencent/xLua.git
[submodule "ThirdPartProj/NPOI"]
	path = ThirdPartProj/NPOI
	url = https://github.com/dotnetcore/NPOI.git
[submodule "ThirdPartProj/Colorful.Console"]
	path = ThirdPartProj/Colorful.Console
	url = https://github.com/tomakita/Colorful.Console.git
[submodule "ThirdPartProj/lua-rapidjson"]
	path = ThirdPartProj/lua-rapidjson
	url = https://github.com/miloyip/lua-rapidjson.git
[submodule "ThirdPartProj/lua-protobuf"]
	path = ThirdPartProj/lua-protobuf
	url = https://github.com/starwing/lua-protobuf.git
[submodule "ThirdPartProj/finite-state-machine"]
	path = ThirdPartProj/finite-state-machine
	url = https://github.com/bitcraftCoLtd/finite-state-machine.git
[submodule "ThirdPartProj/logging-log4net"]
	path = ThirdPartProj/logging-log4net
	url = https://github.com/apache/logging-log4net.git
[submodule "ThirdPartProj/LuaProfiler-For-Unity"]
	path = ThirdPartProj/LuaProfiler-For-Unity
	url = https://github.com/ElPsyCongree/LuaProfiler-For-Unity.git
[submodule "ThirdPartProj/graphy"]
	path = ThirdPartProj/graphy
	url = https://github.com/Tayx94/graphy.git
[submodule "DotGameConfig"]
	path = DotGameConfig
	url = https://github.com/liyubin724/DotGameConfig.git
